{
  "mcpServers": {
    "my-mcp-server": {
      "command": "node",
      "args": ["full path to server.js"], // must be full path not relative
      "env": {
        "JIRA_API_BASE_URL": "https://jira.corp.adobe.com/rest/api/2",
        "JIRA_EMAIL": "", // ldap
        "JIRA_API_TOKEN": "", // ldap pw
        "CONFLUENCE_BASE_URL": "https://wiki.corp.adobe.com",
        "CONFLUENCE_USERNAME": "", // corp email
        "CONFLUENCE_API_TOKEN": "" // confluence PAT
      }
    }
  }
}
